<!DOCTYPE html>
<html lang="{{ page.lang }}">

    <!-- HTML head, contains style files. -->
    <head>
        {{ partial("_partials/head.njk", {}, {cache: theme.cache.enable}) }}
        <title>{{ config.title }}</title>
    </head>

    <body class="components">

        <!-- Image preloader. For faster image loading. -->
        <div class="image-preloader"></div>

        <div class="mdl-layout__container">
            <!-- No header, and the drawer stays open on larger screens. -->
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
                <!-- Drawer layout. -->
                <div class="mdl-layout__drawer">
                    <!-- Title. -->
                    <span class="mdl-layout-title site-title">
                        {{ config.title }}
                    </span>
                    <!-- Navigation. -->
                    <nav class="mdl-navigation">
                        <!-- Home link. -->
                        <a class="mdl-navigation__link" href="/">
                            <i class="material-icons mdl-list__item-icon">home</i>
                            Home
                        </a>
                        <!-- Archives link. -->
                        <a class="mdl-navigation__link" href="/archives">
                            <i class="material-icons mdl-list__item-icon">archives</i>
                            Archives
                        </a>
                        <!-- Link. -->
                        <a class="mdl-navigation__link" href="">
                            <i class="material-icons">link</i>
                            Link
                        </a>
                        <!-- Link. -->
                        <a class="mdl-navigation__link" href="">
                            <i class="material-icons">link</i>
                            Link
                        </a>
                    </nav>
                </div>

                <!-- Main content. -->
                <main class="mdl-layout__content">
                    <div class="page-content">{% block content %}{% endblock %}</div>
                </main>

            </div>
        </div>
    </body>

</html>