{% extends "_layout.njk" %}

{% block content %}

    <div class="mdl-color-text--grey-700 mdl-card__supporting-text post-content">
		<h1>Archives</h1>
		This is archives page and is under development.
	</div>

{% endblock %}