{% extends "_layout.njk" %}

<!-- IN DEVELOPMENT. -->

{% block content %}

	{% set archivesList = list_archives({
		show_count: false,
		format: 'YYYY-MM'
	}) %}

	{% if not is_year() %}

		<div class="mdl-color-text--grey-700 mdl-card__supporting-text post-content">
			<h1>Archives</h1>

			{% if archivesList %}
				<p>
					<h2>Timeline</h2>
					{{ archivesList | safe }}
				</p>
			{% else %}
				{%- for post in page.posts.toArray() %}
					{%- include '_partials/post-entry.njk' -%}
				{%- endfor %}
			{% endif %}
		</div>

	{% endif %}

{% endblock %}

