{% extends "_layout.njk" %}

{% block content %}

	<div class="mdl-grid">

		{%- for post in page.posts.toArray() %}

			<div class="mdl-color-text--grey-600 mdl-card__supporting-text mdl-shadow--2dp mdl-cell mdl-cell--12-col post-entry">
				<div class="post-entry--content">
					<p class="post-entry--title">
						<a href="/{{ post.path }}">{{ post.title }}</a>
					</p>
					PATH: {{ post.path }}
					<br />
					SLUG: {{ post.slug }}
					<br />
					ID: {{ post._id }}
					<br />
					DATE: {{ post.date }}
				</div>
			</div>

		{%- endfor %}

	</div>

{% endblock %}

