<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <link rel="stylesheet" href="/stylesheets/vendors/material.css">
</head>
<body>
    <pre>Hello, world</pre>
    <button class="mdl-button">BUTTON</button>
</body>
</html>