<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/vendors/material.css">
</head>
<body>
    <pre>Hello, world</pre>
    <p>中文测试</p>
    <button class="mdl-button">BUTTON</button>
</body>
</html>