<!-- Site title in drawer. -->
<span class="mdl-layout-title site-drawer__title">
  {{ config.title }}
</span>

<!-- Site slogan. -->
<p class="site-drawer__slogan">
  {{ theme.interface.slogan }}
  </br>
</p>

<!-- Loading elements. -->
{%- if not theme.pjax %}
  {# <p class="site-drawer__loading-tip">
    LOADING...
  </p> #}
{%- endif %}

<!-- Dividing line in the drawer. -->
  <hr class="site-drawer__hr"></hr>

<!-- Site navigation (menu). -->
<nav class="mdl-navigation site-drawer__menu">
  {%- if theme.menu.home %}
    <a class="mdl-navigation__link site-drawer__menu__link" href={{ theme.menu.home }}>
	    <i class="material-icons mdl-list__item-icon">home</i>
	    {{ __("menu.home") }}
    </a>
  {%- endif %}

  <!-- Archives item. -->
  {%- if theme.menu.archives %}
    <a class="mdl-navigation__link site-drawer__menu__link" href={{ theme.menu.archives }}>
      <i class="material-icons mdl-list__item-icon">archives</i>
      {{ __("menu.archives") }}
    </a>
  {%- endif %}

  <!-- About page. -->
  {%- if theme.menu.about %}
    <a class="mdl-navigation__link site-drawer__menu__link" href={{ theme.menu.about }}>
      <i class="material-icons mdl-list__item-icon">info</i>
      {{ __("menu.about") }}
    </a>
  {%- endif %}

</nav>

<!-- Footer. -->
<div class="site-drawer__footer">
  {%- if config.feed %}
<p class="site-drawer__footer__rss">
  <a class="site-drawer__footer__link" href={{ config.feed.path }}>RSS</a>
  <span class="iconify" data-icon="mdi-rss-box"></span>
</p>
{%- endif %}
  Powered by
  <a
    class="site-drawer__footer__link" 
    href="https://github.com/breeze256/hexo-theme-plata"
  >Plata theme</a>.
</div>
