<!-- Home link. -->
<a class="mdl-navigation__link" href="/">
    <i class="material-icons mdl-list__item-icon">home</i>
    Home
</a>
<!-- Archives link. -->
<a class="mdl-navigation__link" href="/archives">
    <i class="material-icons mdl-list__item-icon">archives</i>
    Archives
</a>
<!-- Link. -->
<a class="mdl-navigation__link" href="">
    <i class="material-icons">link</i>
    Link
</a>
<!-- Link. -->
<a class="mdl-navigation__link" href="">
    <i class="material-icons">link</i>
    Link
</a>