<!-- Post entry card. -->
<div class="mdl-card__supporting-text mdl-shadow--2dp mdl-cell mdl-cell--12-col post-entry">
	<div class="post-entry--content">
    <!-- Entry title. -->
		<p class="post-entry--title">
			<a href="/{{ post.path }}">{{ post.title }}</a>
		</p>
    {{ post.excerpt }}
    <p>...<a href="/{{ post.path }}">Read more</a></p>
    <!-- Other information. -->
    <hr>
		ID: {{ post._id }}
	</div>
</div>