/* palette.scss */
@use "sass:map";
$hr-color: #BDBDBD;

$schemes: (
  // Light scheme.
  light-scheme: (
    // Primary color is for main content, like posts and pages.
    primary-fg-color: #616161,
    primary-bg-color: #F5F5F5,

    // Card color.
    card-fg-color: #616161,
    card-bg-color: #FFFFFF,

    // MISC color.
    title-color: #252B2D,
    slogan-color: #5C6A70,

  ),
  // Dark scheme.
  dark-scheme: (
    // Primary color is for main content, like posts and pages.
    primary-fg-color: #FAFAFA,
    primary-bg-color: #252525,
    
    // Card color.
    card-fg-color: #F5F5F5,
    card-bg-color: #212121,

    // MISC color.
    title-color: #EEEEEE,
    slogan-color: #ECEFF1,

  )
);
